body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.mauve {
  background-color: purple;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mauve img {
  height: 50px;
  width: auto;
  position: absolute;
  top: 0px;
  left: 10px;
}
.mauve label {
  color: white;
}
.mauve input {
  padding: 10px;
  border: 0;
  border: radius 10px;
}
.mauve button {
  background-color: lime;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
nav .nav-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-logo img {
  width: 150px;
  height: auto;
}
nav .navigation {
  flex: 4;
  padding: 50px 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
nav .navigation ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav .navigation ul li {
  list-style: none;
  text-transform: uppercase;
}
nav .navigation ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  max-width: max-content;
  position: relative;
}
nav .navigation ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 2px;
  transition: 1s;
  width: 100%;
  transform: scaleX(0);
}
nav .navigation ul li a:hover:before {
  transform: scaleX(1);
}
nav .coworking {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 50px 15%;
}
section h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 35px;
  position: relative;
}
section h1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  height: 3px;
  width: 80px;
  background-color: purple;
}

ul li {
  margin: 8px 0;
}
ul li:marker {
  color: purple;
}

section h2 {
  font-size: 35px;
}

footer {
  background-color: black;
}
footer .reseaux {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
footer .reseaux ul {
  display: flex;
}
footer .reseaux ul li {
  list-style: none;
  margin: 0 18px;
  padding: 50px 0;
}
footer .reseaux ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: darkgray;
}
footer .reseaux {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
footer .reseaux ul {
  display: flex;
}
footer .reseaux ul li {
  list-style: none;
  margin: 0 18px;
  padding: 50px 0;
}
footer .reseaux ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reseaux ul li a i {
  border-radius: 50%;
  border: 2px solid white;
  padding: 10px;
  margin-right: 10px;
}
footer .copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .copy img {
  height: 80px;
  margin-bottom: 10px;
  padding: 50px;
}
footer .copy p {
  padding: 30px;
  font-size: 10px;
  color: gray;
}

/*# sourceMappingURL=style.css.map */
